name: Auto-Assign Issues
on:
  workflow_dispatch:

jobs:
  auto-assign:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    steps:
      - name: Auto-assign Issue
        uses: pozil/auto-assign-issue@v2.2.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: copilot
          allowSelfAssign: false
